* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    margin-top: 0;
}

.outerdiv {
    border: 1px solid bisque;
    display: flex;
    flex-direction: column;
}

.headerdiv {
    border: 1px solid bisque;
    text-align: center;
    background: black;
}

.heading {
    font-size: 48px;
    color: yellow;
    margin-bottom: 5px;
}

.headingpara {
    font-size: 36px;
    margin-bottom: 5px;
    color: yellow;
    font-weight: bold;
}

.innerdiv {
    border: 1px solid bisque;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #000;
}

.countrydiv {
    border: 1px solid bisque;
    margin: 5px;
    padding: 5px;
    width: 300px;
    height: 240px;
    text-align: center;
    background: yellow;
    border-radius: 9%;
    display: flex;
    flex-direction: column;
}

.countrydiv * {
    
    margin: 2px 0 1px 0;
}

.countryname {
    order: 0;
}

.capcaption {
    display: flex;
    align-self: center;
    order: 1;
}

.countrycapital {
    font-size: 15px;
    margin-left: 3px;
    color: black;
}
.capitcap {
    color: blue;
    font-style: italic;
    
}

.popcaption {
    display: flex;
    align-self: center;
    order: 1;
}

.popcap {
    font-style: italic;
    color: blue;
}

.countrypopulation {
    font-weight: bold;
    margin-left: 3px;
    color: black;
}

.curcaption {
    display: flex;
    align-self: center;
    order: 1;
}

.countrycurrency {
    color: blue;
    font-weight: bold;
    margin-left: 3px;
}

.countryflag {
    border: 1px solid yellow;
    width: 100px;
    height: 70px;
    border-radius: 10%;
}

.flagdiv {
    align-self: center;
    order: 1;
    max-width: 100px;
    max-height: 80px;
    
}